@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

main {
  margin-top: 100px;
}

.card-item {
  color: white;
  padding: 0;
  margin-bottom: 20px;
}

.c-title {
  margin-top: 10px;
  
}

.div_list {
    display: inline;      
}

.ul_list li{
    display: inline;
    margin-right: 10px;
}

.ul_list li i{
    margin-left: 7px;
}

.card .card-footer {
  border-top-color: grey;
  padding: 2px;
  color: white;
}

.card .card-footer .button{
  text-align: right;
}

.card .card-footer .button .btn{
  background-color: goldenrod;
  border: none;
  width: 100px;
}

#statusgreen{
  border: solid #7ABD91;
  border-radius: 10px;
  margin-right: 390px;
  text-align: center;
  color: #7ABD91;
}

#statusred {
  border: solid #FF8989;
  border-radius: 10px;
  margin-right: 360px;
  text-align: center;
  color: #FF8989;
}

.modal-alert-success {
  border: solid #7ABD91;
  color: #7ABD91;
}

.modal-alert-failed {
  border: solid #FF8989;
  color: #FF8989;
}

#modal-alert-success {
  border: solid #7ABD91;
  color: #7ABD91;
}

#modal-alert-failed {
  border: solid #FF8989;
  color: #FF8989;
}

#button-modal {
  text-align: right;
  padding: 10px;
}

.card .row .desc {
  text-align: justify;
  margin-top: 20px;
}

.card .row .desc .alert {
  text-align: center;
  width: 150px;
}

.table-username {
  border: 0;
}

.table-username tr td{
  padding: 2px;
}

.table-item {
  border: 0;
}

.table-item tr td{
  padding: 5px;
  width: 50%;
  border-bottom: solid white 1px;
}

.footers a {color: white;}
.footers p {color: white;}
.footers ul {line-height:30px;}
